* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

.error h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin-top: 15rem;
    margin-right: 5rem;
    text-align: right;
}

.error .mainError {
    display: flex;
    text-align: center;
    margin-left: 40rem;
    margin-right: auto;
}

.error img {
    margin-left: -35rem;
    margin-top: -35rem;
}

.error button a {
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    color: #000000;
    padding: 1rem 2rem 1rem 2rem;
}

.error button {
    padding: 1rem 2rem 1rem 2rem;
    width: 17rem;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin-left: 75rem;
    margin-top: 13rem;
    background-image: linear-gradient(147deg, #4bffa5, #54d4ff 90%);
    color: #000000;
    cursor: pointer;
}

@media only screen
and (min-width: 320px) {
    .error h1 {
        margin-top: 2rem;
    }
}