* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #161616;
}

h1 {
    display: flex;
    justify-content: center;
    color: #A1A1A1;
    font-family: sans-serif;
    font-size: 40rem;
    margin-top: 5rem;
}

h2, h3 {
    display: flex;
    justify-content: center;
    color: #F7F7F7;
}

h2 {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h3 {
    font-size: 3rem;
    font-weight: 400;
}

button a {
    text-align: center;
    font-size: 3rem;
    color: #161616;
    font-weight: bold;
}

button {
    padding: 1rem;
    max-width: 23rem;
    min-width: 5.5rem;
    text-align: center;
    margin: 10rem auto auto auto;
    background-image: linear-gradient(147deg, #4bffa5, #54d4ff 90%);
    cursor: pointer;
}

@media only screen 
and (min-width: 320px){

    h1 {
        font-size: 10rem;
        margin-top: 1rem;
    }

    h2 {
        font-size: 1rem;
    }
    
    h3 {
        font-size: 0.75rem;
    }
    
    button a {
        font-size: 0.576rem;
    }
    
    button {
        width: 5.5rem;
        margin-left: 0.5rem;
        margin-top: 4rem;
    }

    .buttons {
        display: flex;
        margin-top: 5rem;
    }
    
    .btn_portfolio {
        margin: auto 1rem auto auto;
    }

    .btn_about{
        margin: auto;
    }
    
    .btn_projects {
        margin: auto auto auto 1rem;
    }
}

@media only screen 
and (max-width: 1024px)
and (min-width: 768px){

    h1 {
        font-size: 25rem;
        margin-top: 10rem;
    }

    h2 {
        font-size: 2rem;
        margin-top: 4rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    button a {
        text-align: center;
        font-size: 1.25rem;
        color: #161616;;
    }
    
    button {
        width: 10rem;
        margin-left: 4.5rem;
        margin-top: 10rem;
    }
}

@media only screen 
and (max-width: 1440px)
and (min-width: 1024px){

    h1 {
        font-size: 15rem;
        margin-top: 1rem;
    }

    h2 {
        font-size: 3rem;
        margin-top: 3rem;
    }
    
    h3 {
        font-size: 2rem;
    }
    
    button a {
        text-align: center;
        font-size: 1.5rem;
        color: #161616;;
    }
    
    button {
        width: 15rem;
        margin-left: 4.5rem;
        margin-top: 4rem;
    }

    .buttons {
        display: flex;
        margin-top: 20rem;
    }
    
    .btn_portfolio {
        margin: auto 5rem auto auto;
    }

    .btn_about{
        margin: auto;
    }
    
    .btn_projects {
        margin: auto auto auto 5rem;
    }
}

@media only screen 
and (max-width: 2560px)
and (min-width: 1440px) {
    
    h1 {
        font-size: 25rem;
        margin-top: 1rem;
    }

    h2 {
        font-size: 3rem;
    }
    
    h3 {
        font-size: 2rem;
    }
    
    button a {
        text-align: center;
        font-size: 2.5rem;
        color: #161616;
    }
    
    button {
        width: 20rem;
        margin-top: 10rem;
    }
    
    .buttons {
        display: flex;
        margin-top: 7rem;
    }
    
    .btn_portfolio {
        margin: auto 5rem auto auto;
    }

    .btn_about{
        margin: auto;
    }
    
    .btn_projects {
        margin: auto auto auto 5rem;
    }
}