* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #161616;
    display: flex;
}

h1 {
    display: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 15rem;
    color: #F7F7F7;
    margin-top: 15rem;
    margin-right: 5rem;
    text-align: right;
}

button a {
    text-decoration: none;
    text-align: center;
    font-size: 10rem;
    color: #000000;
}

button {
    padding: 5rem 4rem 5rem 4rem;
    width: 70rem;
    font-weight: bold;
    text-align: center;
    margin-left: 75rem;
    margin-top: 13rem;
    background-image: linear-gradient(147deg, #4bffa5, #54d4ff 90%);
    color: #000000;
    cursor: pointer;
}

@media only screen
and (min-width: 320px)
and (max-width: 375px) {

    * {
        overflow-x: hidden;
    } 

    h1 {
        min-width: 15ch;
        text-align: center;
        margin-left: 1.5rem;
        margin-top: 4rem;
        font-size: 2rem;
    }

    button {
        overflow-x: unset;
        margin-top: 5rem;
        margin-left: 2rem;
    }
}