@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    z-index: 1;
}

body {
    background-color: #161616;
}

h1, h3 {
    display: flex;
    justify-content: center;
    color: #F7F7F7;
}

h1 {
    font-family: Raleway;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

h2 {
    display: flex;
    justify-content: center;
    color: #202020;
    font-size: 40rem;
    z-index: 0;
    margin-top: 5rem;
}

button a {
    text-align: center;
    font-size: 3rem;
    color: #000000;
}

button {
    padding: 1rem;
    width: 23rem;
    font-weight: bold;
    text-align: center;
    margin-left: 23rem;
    margin-top: 10rem;
    background-image: linear-gradient(147deg, #4bffa5, #54d4ff 90%);
    color: #000000;
    cursor: pointer;
}

@media only screen and{
    
}