* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 3rem;
    margin-top: 15rem;
    margin-right: 5rem;
    text-align: right;
}

.mainError {
    display: flex;
    text-align: center;
    margin-left: 40rem;
    margin-right: auto;
}

img {
    margin-left: -35rem;
    margin-top: -35rem;
}

button a {
    text-decoration: none;
    text-align: center;
    font-size: 2rem;
    color: #000000;
    padding: 1rem 2rem 1rem 2rem;
}

button {
    padding: 1rem 2rem 1rem 2rem;
    width: 17rem;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin-left: 75rem;
    margin-top: 13rem;
    background-image: linear-gradient(147deg, #4bffa5, #54d4ff 90%);
    color: #000000;
    cursor: pointer;
}

@media only screen
and (min-width: 320px)
and (max-width: 375px) {

    * {
        overflow-x: hidden;
    } 

    h1 {
        min-width: 15ch;
        text-align: center;
        margin-left: 1.5rem;
        margin-top: 4rem;
        font-size: 2rem;
    }

    .mainError {
        width: 200px;
        margin-top: 40rem;
        overflow-x: unset;
    }

    img {
        height: 20px;
    }

    button {
        overflow-x: unset;
        margin-top: 8rem;
        margin-left: 2rem;
    }
}