.error p {
    font-family: "Comic Sans";
    font-weight: 700;
    color: #000000;
    font-size: 20rem;
    margin-top: 5rem;
}

.error button a {
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-size: 2rem;
}

.error .mainError {
    display: flex;
    text-align: center;
    margin-left: 40rem;
    margin-right: auto;
}

.error img {
    overflow-x: initial;
    width: 50vw;
    left: -10rem;
}

.error button {
    margin-top: 10rem;
    overflow-y: hidden;
}