@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
    z-index: 1;
}

body {
    background-color: #161616;
}

h1, h3 {
    display: flex;
    justify-content: center;
    color: #F7F7F7;
}

h1 {
    font-family: Raleway;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

h2 {
    display: flex;
    justify-content: center;
    color: #202020;
    font-size: 25rem;
    z-index: 0;
}

button a {
    text-align: center;
    font-size: 3rem;
    color: #000000;
}

button {
    padding: 1rem 2rem 1rem 2rem;
    width: 20rem;
    font-weight: bold;
    text-align: center;
    margin-left: 60rem;
    margin-top: 1rem;
    background-image: linear-gradient(147deg, #4bffa5, #54d4ff 90%);
    color: #000000;
    cursor: pointer;
}

@media only screen
and (min-width: 320px)
and (max-width: 375px) {

    h1 {
        min-width: 17ch;
        text-align: right;
        margin-left: 1.5rem;
        margin-top: 4rem;
        font-size: 2rem;
    }

    h2 {
        margin-top: 7rem;
        margin-left: 0.5rem;
        font-size: 12rem;
    }

    button {
        margin-top: 5rem;
        margin-left: 0.3rem;
    }
}

@media only screen
and (min-width: 375px)
and (max-width: 425px) {
    
    h1 {
        min-width: 20ch;
        text-align: right;
        margin-left: 1rem;
        margin-top: 4rem;
        font-size: 2rem;
    }

    h2 {
        margin-top: 7rem;
        margin-left: 2rem;
        font-size: 12rem;
    }

    button {
        margin-top: 10rem;
        margin-left: 2rem;
    }
}

@media only screen
and (min-width: 425px)
and (max-width: 768px) {

    h1 {
        text-align: right;
        margin-left: 2rem;
        margin-top: 4rem;
        font-size: 2rem;
    }

    h2 {
        margin-top: 7rem;
        margin-left: 3rem;
        font-size: 12rem;
    }

    button {
        margin-top: 5rem;
        margin-left: 3rem;
    }
}

@media only screen
and (min-width: 768px)
and (max-width: 1024px) {

    h1 {
        text-align: right;
        margin-left: 2rem;
        margin-top: 4rem;
        font-size: 2rem;
    }

    h2 {
        margin-top: 3rem;
        margin-left: 3rem;
        font-size: 25rem;
    }

    button {
        margin-top: 3rem;
        margin-left: 15rem;
    }
}