* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: #161616;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 4rem;
    color: #F7F7F7;
    margin-top: 5rem;
    margin-right: 5rem;
    text-align: right;
}

h2 {
    color: #6d6d6d;
    margin-left: 5rem;
    font-size: 25rem;
}

button a {
    text-align: center;
    font-size: 3rem;
    color: #000000;
}

button {
    padding: 1rem 2rem 1rem 2rem;
    width: 20rem;
    font-weight: bold;
    text-align: center;
    margin-left: 60rem;
    margin-top: 1rem;
    background-image: linear-gradient(147deg, #4bffa5, #54d4ff 90%);
    color: #000000;
    cursor: pointer;
}

@media only screen
and (min-width: 320px)
 {

    h1 {
        min-width: 17ch;
        text-align: right;
        margin-left: 1.5rem;
        margin-top: 4rem;
        font-size: 2rem;
    }

    h2 {
        margin-top: 7rem;
        margin-left: 0.5rem;
        font-size: 12rem;
    }

    button {
        margin-top: 5rem;
        margin-left: 0.3rem;
    }

@media only screen
and (min-width: 375px) {

}
}