* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

.error h1 {
    font-family: a;
    font-weight: 700;
    color: #000000;
    font-size: 3rem;
    margin-top: 5rem;
}

.error button a {
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-size: 2rem;
}

.error .mainError {
    display: flex;
    text-align: center;
    margin-left: 40rem;
    margin-right: auto;
}

.error img {
    margin-left: -35rem;
    margin-top: 3rem;
}

.error button {
    margin-top: 10rem;
    overflow-y: hidden;
}