* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

.error p {
    font-family: "Comic Sans";
    font-weight: 700;
    color: #000000;
    font-size: 20rem;
    margin-top: 5rem;
}

.error button a {
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-size: 2rem;
}

.error .mainError {
    display: flex;
    text-align: center;
    margin-left: 40rem;
    margin-right: auto;
}

.error img {
    width: 50vw;
    height: 100000vh;
}

.error button {
    margin-top: 10rem;
    overflow-y: hidden;
}