* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    background-color: #F7F7F7;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 0rem;
    margin-top: 0rem;
}

nav a {
    color: #000000;
    padding: 0.938rem;
    margin-top: 2rem;
    margin-right: 3.125rem;
    font-size: 1.563rem;
}

.welcome_part_h1 {
    font-family: monospace;
    font-size: 3.75rem;
    margin-top: 9rem;
    margin-left: 2.5rem;
    margin-bottom: 0rem;
}

.welcome_part {
    margin-top: 2rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
    font-family: Raleway;
    font-weight: lighter;
    font-size: 5rem;
    min-width: 18ch;
}

.welcome_part_h2 {
    margin-bottom: 18rem;
    margin-left: 4rem;
}

.box .imageh2 {

    justify-items: center;
}

#skills {
    display: grid;
    align-items: flex-end;
    grid-template-columns: repeat(auto-fit, 400px);
    margin-left: 4.5rem;
}

h1 {
    font-size: 5rem;
    margin-left: 10rem;
}

.imageh2 {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    margin: 4rem 20rem 1rem 1rem;
    font-size: 2rem;
}

.text {
    display: flex;
    flex-wrap: wrap;
}

.text li {
    list-style: none;
    margin: 1rem;
    color: #000000;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    align-items: center;
    border-radius: 1rem;
    margin: 0.3125rem 0.3125rem;
    width: 7rem;
    background-image: linear-gradient(147deg,#4bffa5,#54d4ff 90%);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#about p {
    font-size: 1.25rem;
    max-width: 60ch;
    margin-left: 8rem;
    margin-bottom: 5rem;
    margin-top: 2rem;
}

#about h2 {
    margin-left: 5rem;
    margin-top: 3rem;
}

footer, footer h4 {
    color: #C5C4C6;
    background-color: #232429;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.938rem;
    font-weight: lighter;
    text-align: center;
    z-index: -1;
    padding-top: 1.875rem;
    padding-bottom: 3.125rem;
}

footer li{
    margin: 0 1.25;
    display: inline;
}

body .error {
    text-align: center;
}

.error p {
    font-family: Quicksand;
    font-weight: 700;
    color: #000000;
    font-size: 20rem;
    margin-top: 5rem;
}

.error button a {
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-size: 2rem;
    padding: 3rem;
}

.error .mainError {
    display: flex;
    text-align: center;
    margin-left: 40rem;
    margin-right: auto;
}

.error img {
    width: 250px;
}

.error button {
    margin-top: 10rem;
}
/* Smartphone (portrait) --- */

@media only screen
and (min-width: 320px) {
        
    nav a {
        padding: 0.938rem;
        margin-top: 2rem;
        margin-right: -1rem;
        font-size: 1rem;
    }
    
    .welcome_part_h1 {
        font-family: monospace;
        font-size: 2rem;
        margin-top: 9rem;
        margin-left: 1rem;
    }
    
    .welcome_part {
        margin-top: 1rem;
        margin-left: 2rem;
        margin-bottom: 2rem;
        font-size: 1.8rem;
        min-width: 18ch;
    }
    
    .welcome_part_h2 {
        margin-bottom: 10rem;
        margin-left: 2rem;
        font-size: 0.8rem;
    }
    
    main h1 {
        font-size: 3rem;
        margin-bottom: 1.563rem;
        margin-
    }
    
    #about p {
        font-size: 1.25rem;
        max-width: 22ch;
        margin-left: 2rem;
        margin-bottom: 5rem;
    }
    
    #about h2 {
        margin-left: 2rem;
        margin-top: 5rem;
    } 
    
    footer, footer h4 {
        padding-top: 1.875rem;
        padding-bottom: 3.125rem;
        width: 100%;
    }
    
    footer li{
        margin: 0 1.25;
        display: inline;
    }
}



@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (orientation: portrait) {
    
    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        text-decoration: none;
    }
    
    body {
        background-color: #F7F7F7;
    }
    
    nav {
        display: flex;
        justify-content: flex-end;
        margin-right: 0rem;
        margin-top: 0rem;
    }
    
    nav a {
        color: #000000;
        padding: 0.938rem;
        margin-top: 2rem;
        margin-right: 3.125rem;
        font-size: 1.563rem;
    }
    
    .welcome_part_h1 {
        font-family: monospace;
        font-size: 3.75rem;
        margin-top: 13rem;
        margin-left: 2.5rem;
        margin-bottom: 0rem;
    }
    
    .welcome_part {
        margin-top: 2rem;
        margin-left: 5rem;
        margin-bottom: 2rem;
        font-family: Raleway;
        font-weight: lighter;
        font-size: 3.9rem;
        min-width: 18ch;
    }
    
    .welcome_part_h2 {
        margin-bottom: 20rem;
        margin-left: 4rem;
    }
    
    #about p {
        font-size: 1.25rem;
        max-width: 45ch;
        margin-left: 8rem;
        margin-bottom: 5rem;
    }
    
    #about h2 {
        margin-left: 5rem;
        margin-top: 5rem;
    } 
    
    #projects h1 {
        width: 15%;
        margin-top: 3rem;
    }
    
    #about h1 {
        width: 15%;
    }
    
    #contact h1 {
        width: 17%;
    }
    
    footer, footer h4 {
        color: #C5C4C6;
        background-color: #232429;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.938rem;
        font-weight: lighter;
        text-align: center;
        z-index: -1;
        width: 100%;
        padding-top: 1.875rem;
        padding-bottom: 3.125rem;
    }
    
    body .error {
        text-align: center;
    }
    
    .error p {
        font-family: Quicksand;
        font-weight: 700;
        color: #000000;
        font-size: 20rem;
        margin-top: 5rem;
    }
    
    .error button a {
        text-decoration: none;
        text-align: center;
        color: #000000;
        font-size: 2rem;
        padding: 3rem;
    }
    
    .error .mainError {
        display: flex;
        text-align: center;
        margin-left: 40rem;
        margin-right: auto;
    }
    
    .error img {
        width: 250px;
    }
    
    .error button {
        margin-top: 10rem;
    }
}

@media only screen 
and (min-width: 953)
and (max-width: 1230) {
     p {
        margin-left: 1rem;
    }
}

@media only screen
and (min-width: 550px)
and (max-width: 700px) {
    .welcome_part_h1 {
        font-family: monospace;
        font-size: 3.75rem;
        margin-top: 13rem;
        margin-left: 2.5rem;
        margin-bottom: 0rem;
    }
    
    .welcome_part {
        margin-top: 2rem;
        margin-left: 5rem;
        margin-bottom: 2rem;
        font-size: 2.6rem;
    }
    
    .welcome_part_h2 {
        margin-bottom: 20rem;
        margin-left: 4rem;
    }
}

@media only screen
and (min-width: 1920px) {
    .welcome_part_h1 {
        font-family: monospace;
        font-size: 3.75rem;
        margin-top: 13rem;
        margin-left: 2.5rem;
        margin-bottom: 0rem;
    }
    
    .welcome_part {
        margin-top: 2rem;
        margin-left: 5rem;
        margin-bottom: 2rem;
        font-size: 5rem;
    }
    
    .welcome_part_h2 {
        margin-bottom: 20rem;
        margin-left: 4rem;
        font-size: 2.5rem;
    }
}
