* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    background-color: #F7F7F7;
}

nav {
    display: flex;
    justify-content: flex-end;
    margin-right: 0rem;
    margin-top: 0rem;
}

nav a {
    color: #000000;
    padding: 0.938rem;
    margin-top: 2rem;
    margin-right: 3.125rem;
    font-size: 1.563rem;
}

 main .welcome_part_h1 {
    font-family: monospace;
    font-size: 3.75rem;
    margin-top: 9rem;
    margin-left: 2.5rem;
    margin-bottom: 0rem;
}

main .welcome_part {
    margin-top: 2rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
    font-family: Raleway;
    font-weight: lighter;
    font-size: 5rem;
    min-width: 18ch;
}

main .welcome_part_h2 {
    margin-bottom: 13rem;
    margin-left: 4rem;
}

.background {
    background-color: #E3E6EA;
    border: none;
    padding: 1rem 2rem 1rem 2rem;
}

.languages {
    display: flex;
}

box {
    list-style: none;
}

#about p {
    font-size: 1.25rem;
    max-width: 60ch;
    margin-left: 8rem;
    margin-bottom: 5rem;
}

#about h2 {
    margin-left: 5rem;
    margin-top: 5rem;
}

#projects h1 {
    width: 15%;
    margin-top: 3rem;
}

#about h1 {
    width: 15%;
}

#contact h1 {
    width: 17%;
}

footer, footer h4 {
    color: #C5C4C6;
    background-color: #232429;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.938rem;
    font-weight: lighter;
    text-align: center;
    z-index: -1;
    padding-top: 1.875rem;
    padding-bottom: 3.125rem;
}

footer li{
    margin: 0 1.25;
    display: inline;
}

body .error {
    text-align: center;
}

.error p {
    font-family: Quicksand;
    font-weight: 700;
    color: #000000;
    font-size: 20rem;
    margin-top: 5rem;
}

.error button a {
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-size: 2rem;
    padding: 3rem;
}

.error .mainError {
    display: flex;
    text-align: center;
    margin-left: 40rem;
    margin-right: auto;
}

.error img {
    width: 250px;
}

.error button {
    margin-top: 10rem;
}
/* Smartphone (portrait) --- */

@media only screen
and (min-width: 320px)
and (max-width: 767px) {
    
    nav {
        display: flex;
        justify-content: flex-end;
        margin-right: 1rem;
        margin-top: 0rem;
    }
    
    nav a {
        padding: 0.938rem;
        margin-top: 2rem;
        margin-right: -1rem;
        font-size: 1rem;
    }
    
     main .welcome_part_h1 {
        font-family: monospace;
        font-size: 2.5rem;
        margin-top: 9rem;
        margin-left: 1rem;
    }
    
    main .welcome_part {
        margin-top: 1rem;
        margin-left: 2rem;
        margin-bottom: 2rem;
        font-size: 1.63rem;
        min-width: 18ch;
    }
    
    main .welcome_part_h2 {
        margin-bottom: 10rem;
        margin-left: 2rem;
        font-size: 1rem;
    }
    
    section h1 {
        font-size: 3rem;
        margin-bottom: 1.563rem;
    }
    
    #about p {
        font-size: 1.25rem;
        max-width: 22ch;
        margin-left: 2rem;
        margin-bottom: 5rem;
    }
    
    #about h2 {
        margin-left: 2rem;
        margin-top: 5rem;
    } 
    
    footer, footer h4 {
        padding-top: 1.875rem;
        padding-bottom: 3.125rem;
        width: 100%;
    }
    
    footer li{
        margin: 0 1.25;
        display: inline;
    }
}



@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (orientation: portrait) {
    
    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        text-decoration: none;
    }
    
    body {
        background-color: #F7F7F7;
    }
    
    nav {
        display: flex;
        justify-content: flex-end;
        margin-right: 0rem;
        margin-top: 0rem;
    }
    
    nav a {
        color: #000000;
        padding: 0.938rem;
        margin-top: 2rem;
        margin-right: 3.125rem;
        font-size: 1.563rem;
    }
    
     main .welcome_part_h1 {
        font-family: monospace;
        font-size: 3.75rem;
        margin-top: 13rem;
        margin-left: 2.5rem;
        margin-bottom: 0rem;
    }
    
    main .welcome_part {
        margin-top: 2rem;
        margin-left: 5rem;
        margin-bottom: 2rem;
        font-family: Raleway;
        font-weight: lighter;
        font-size: 3.9rem;
        min-width: 18ch;
    }
    
    main .welcome_part_h2 {
        margin-bottom: 20rem;
        margin-left: 4rem;
    }
    
    #about p {
        font-size: 1.25rem;
        max-width: 45ch;
        margin-left: 8rem;
        margin-bottom: 5rem;
    }
    
    #about h2 {
        margin-left: 5rem;
        margin-top: 5rem;
    } 
    
    #projects h1 {
        width: 15%;
        margin-top: 3rem;
    }
    
    #about h1 {
        width: 15%;
    }
    
    #contact h1 {
        width: 17%;
    }
    
    footer, footer h4 {
        color: #C5C4C6;
        background-color: #232429;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.938rem;
        font-weight: lighter;
        text-align: center;
        z-index: -1;
        width: 100%;
        padding-top: 1.875rem;
        padding-bottom: 3.125rem;
    }
    
    body .error {
        text-align: center;
    }
    
    .error p {
        font-family: Quicksand;
        font-weight: 700;
        color: #000000;
        font-size: 20rem;
        margin-top: 5rem;
    }
    
    .error button a {
        text-decoration: none;
        text-align: center;
        color: #000000;
        font-size: 2rem;
        padding: 3rem;
    }
    
    .error .mainError {
        display: flex;
        text-align: center;
        margin-left: 40rem;
        margin-right: auto;
    }
    
    .error img {
        width: 250px;
    }
    
    .error button {
        margin-top: 10rem;
    }
}

@media only screen 
and (min-width: 953)
and (max-width: 1230) {
     p {
        margin-left: 1rem;
    }
}

@media only screen
and (min-width: 550px)
and (max-width: 700px) {
    main .welcome_part_h1 {
        font-family: monospace;
        font-size: 3.75rem;
        margin-top: 13rem;
        margin-left: 2.5rem;
        margin-bottom: 0rem;
    }
    
    main .welcome_part {
        margin-top: 2rem;
        margin-left: 5rem;
        margin-bottom: 2rem;
        font-size: 2.6rem;
    }
    
    main .welcome_part_h2 {
        margin-bottom: 20rem;
        margin-left: 4rem;
    }
}

@media only screen
and (min-width: 1920px) {
    main .welcome_part_h1 {
        font-family: monospace;
        font-size: 3.75rem;
        margin-top: 13rem;
        margin-left: 2.5rem;
        margin-bottom: 0rem;
    }
    
    main .welcome_part {
        margin-top: 2rem;
        margin-left: 5rem;
        margin-bottom: 2rem;
        font-size: 5rem;
    }
    
    main .welcome_part_h2 {
        margin-bottom: 20rem;
        margin-left: 4rem;
        font-size: 2.5rem;
    }
}