@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    text-decoration: none;
}

body {
    background-color: #F7F7F7;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: #000000;
    padding: 0.938rem;
    margin-top: 2rem;
    margin-right: 3.125rem;
    font-size: 1.563rem;
}

.welcome_part_h1 strong {
    background-image: linear-gradient(147deg, #4bffa5, #54d4ff 90%);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px black;
}

.welcome_part_h2 {
    font-family: monospace;
    font-size: 3.75rem;
    margin-top: 9rem;
    margin-left: 2.5rem;
    margin-bottom: 0rem;
}

.welcome_part_h1, .welcome_part_h1_2{
    margin-top: 2rem;
    margin-left: 5rem;
    font-family: Raleway;
    font-weight: lighter;
    font-size: 5rem;
    min-width: 18ch;
}

.welcome_part_h1_2 {
    margin: 0.5rem auto 2rem 5rem;
    font-family: Raleway;
    font-weight: lighter;
    font-size: 4.1rem;
    min-width: 18ch;
}

.welcome_part_p {
    margin-bottom: 18rem;
    margin-left: 4rem;
    font-size: 2.5rem;
}

.box .image_h2 {
    justify-items: center;
}

.image_h2 img {
    width: 100px;
    height: 100px;
}

#skills {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 400px);
    margin-left: 4.5rem;
}

main h1 {
    font-size: 5rem;
    margin-left: 10rem;
    margin-top: 10rem;
}

.image_h2 {
    display: flex;
    flex-wrap: wrap;
    margin: 4rem 20rem 1rem 1rem;
    font-size: 2rem;
}

.text {
    display: flex;
    flex-wrap: wrap;
}

.text ul li {
    list-style: none;
    margin: 1rem;
    color: #000000;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    align-items: center;
    border-radius: 1rem;
    margin: 0.3125rem 0.3125rem;
    display: inline-block;
    width: 7rem;
    background-image: linear-gradient(147deg, #4bffa5, #54d4ff 90%);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

#projects h1 {
    margin-top: 10rem;
}

#about .container {
    display: flex;
    height: 600px;
    width: 100%;
    color: #000000;
}

#about h2 {
    margin-left: 5rem;
    margin-top: 7rem;
}

#about p {
    font-size: 1.25rem;
    min-width: 32ch;
    max-width: 60ch;
    margin-left: 
    margin-bottom: 5rem;
    margin-top: 2rem;
}

#about img {
    width: 600px;
    height: 300px;
    margin-left: -3rem;
    transform: rotate(90deg);
    align-items: center;
}

#contact {
    display: block;
}

#contact h1 {
    margin-bottom: 4rem;
}

#contact img {
    width: 900px;
    margin-bottom: 7rem;
}

footer, footer h2 {
    color: #C5C4C6;
    background-color: #232429;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.938rem;
    font-weight: lighter;
    text-align: center;
    z-index: -1;
    padding-top: 1.875rem;
    padding-bottom: 3.125rem;
}

footer ul li{
    margin: 0rem 1.5rem;
    display: inline;
}

footer .fab {
    color: #50E8D5;
    font-size: 2rem;
}

footer img{
    width: 2.2rem;
}

body .error {
    text-align: center;
}

.error p {
    font-family: Quicksand;
    font-weight: 700;
    color: #000000;
    font-size: 20rem;
    margin-top: 5rem;
}

.error button a {
    text-decoration: none;
    text-align: center;
    color: #000000;
    font-size: 2rem;
    padding: 3rem;
}

.error .mainError {
    display: flex;
    text-align: center;
    margin-left: 40rem;
    margin-right: auto;
}

.error img {
    width: 250px;
}

.error button {
    margin-top: 10rem;
}
/* Smartphone (portrait) --- */

@media only screen
and (max-width: 767px) {
    
    nav {
        display: flex;
        justify-content: flex-end;
        margin-right: 1rem;
        margin-top: 0rem;
    }
    
    nav a {
        padding: 0.938rem;
        margin-top: 2rem;
        margin-right: -1rem;
        font-size: 1rem;
    }
    
    .welcome_part_h2 {
        font-family: monospace;
        font-size: 1.875rem;
        margin-top: 9rem;
        margin-left: 1rem;
    }
    
    .welcome_part_h1 {
        margin-top: 1rem;
        margin-left: 2rem;
        font-size: 2.5rem;
        min-width: 18ch;
    }

    .welcome_part_h1_2 {
        margin-bottom: 2rem;
        margin-left: 2rem;
        font-size: 2rem;
    }
    
    .welcome_part_p {
        margin-bottom: 10rem;
        margin-left: 2rem;
        font-size: 1.25rem;
    }
    
    main h1 {
        margin-left: 3rem;
        font-size: 4rem;
    }
    
    #about p {
        font-size: 1.25rem;
        max-width: 35ch;
        margin-left: 2rem;
        margin-bottom: 5rem;
    }
    
    #about h2 {
        margin-left: 2rem;
        margin-top: 5rem;
    }

    #about img {
        margin-left: -1rem;
    }
    
    footer, footer h4 {
        padding-top: 1.875rem;
        padding-bottom: 3.125rem;
        width: 100%;
    }
    
    footer li{
        display: inline;
    }
}



@media only screen
and (min-width: 768px)
and (max-width: 1024px)
and (orientation: portrait) {
    
    * {
        margin: 0;
        padding: 0;
        font-family: sans-serif;
        text-decoration: none;
    }
    
    body {
        background-color: #F7F7F7;
    }
    
    nav {
        display: flex;
        justify-content: flex-end;
        margin-right: 0rem;
        margin-top: 0rem;
    }
    
    nav a {
        color: #000000;
        padding: 0.938rem;
        margin-top: 2rem;
        margin-right: 3.125rem;
        font-size: 1.563rem;
    }
    
    .welcome_part_h2 {
        font-family: monospace;
        font-size: 3.75rem;
        margin-top: 13rem;
        margin-left: 2.5rem;
        margin-bottom: 0rem;
    }
    
    .welcome_part_h1 {
        margin-top: 2rem;
        margin-left: 5rem;
        margin-bottom: 2rem;
        font-family: Raleway;
        font-weight: lighter;
        font-size: 3.9rem;
        min-width: 18ch;
    }
    
    .welcome_part_p {
        margin-bottom: 20rem;
        margin-left: 4rem;
    }
    
    #about p {
        font-size: 1.25rem;
        max-width: 45ch;
        margin-left: 8rem;
        margin-bottom: 5rem;
    }
    
    #about h2 {
        margin-left: 5rem;
        margin-top: 5rem;
    } 
    
    #projects h1 {
        width: 15%;
        margin-top: 3rem;
    }
    
    #about h1 {
        width: 15%;
    }
    
    #contact h1 {
        width: 17%;
    }
    
    footer, footer h4 {
        color: #C5C4C6;
        background-color: #232429;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.938rem;
        font-weight: lighter;
        text-align: center;
        z-index: -1;
        width: 100%;
        padding-top: 1.875rem;
        padding-bottom: 3.125rem;
    }
    
    body .error {
        text-align: center;
    }
    
    .error p {
        font-family: Quicksand;
        font-weight: 700;
        color: #000000;
        font-size: 20rem;
        margin-top: 5rem;
    }
    
    .error button a {
        text-decoration: none;
        text-align: center;
        color: #000000;
        font-size: 2rem;
        padding: 3rem;
    }
    
    .error .mainError {
        display: flex;
        text-align: center;
        margin-left: 40rem;
        margin-right: auto;
    }
    
    .error img {
        width: 250px;
    }
    
    .error button {
        margin-top: 10rem;
    }
}

@media only screen 
and (min-width: 953)
and (max-width: 1230) {
     p {
        margin-left: 1rem;
    }
}

@media only screen
and (min-width: 550px)
and (max-width: 700px) {
    .welcome_part_h2 {
        font-family: monospace;
        font-size: 3.75rem;
        margin-top: 13rem;
        margin-left: 2.5rem;
        margin-bottom: 0rem;
    }
    
    .welcome_part_h1 {
        margin-top: 2rem;
        margin-left: 5rem;
        margin-bottom: 2rem;
        font-size: 2.6rem;
    }
    
    .welcome_part_p {
        margin-bottom: 20rem;
        margin-left: 4rem;
    }
}

@media only screen
and (min-width: 1920px) {
    .welcome_part_h2 {
        font-family: monospace;
        font-size: 3.75rem;
        margin-top: 13rem;
        margin-left: 2.5rem;
        margin-bottom: 0rem;
    }
    
    .welcome_part_h1 {
        margin-top: 2rem;
        margin-left: 5rem;
        margin-bottom: 2rem;
        font-size: 5rem;
    }
    
    .welcome_part_p {
        margin-bottom: 20rem;
        margin-left: 4rem;
        font-size: 2.5rem;
    }
}

@media only screen
and (max-width: 950) {
    
}