@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    position: relative;
    overflow-x: hidden;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

::-webkit-scrollbar {
    width: 10px;
   }

::-webkit-scrollbar-thumb {
    background: linear-gradient(13deg, #54d4ff 14%,#4bffa5 90%);
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background: #F7F7F7;
    border-radius: 10px;
    box-shadow: inset 7px 10px 12px #F7F7F7;
}

body {
    background-color: #F7F7F7;
}

nav {
    display: flex;
    justify-content: flex-end;
    box-shadow: 0.1rem 0.1rem 0rem 0rem #1616161a;
    overflow-y: hidden;
}

nav a:hover {
    background-color: #e7e7e7;
}

nav a {
    color: #000000;
    padding: 2rem 3.125rem 2rem 3rem;
    font-size: 2rem;
    min-width: 10ch;
    animation: 2050ms appear_nav;
}

@keyframes appear_nav {
    0% {
        opacity: 0;
        margin-left: -50rem;
    }

    100% {
        opacity: 1;
    }
}

header {
    border-bottom: 1px solid #e2e2e2;
    animation: appear_header 2000ms; 
}

@keyframes appear_header {
    0% {
        opacity: 0;
        margin-left: -50rem;
    }

    100% {
        opacity: 1;
        margin-left: 0rem;
    }
}

.welcome_part_h2 {
    font-family: monospace;
    font-size: 3.75rem;
    margin-top: 10rem;
    margin-left: 2.5rem;
    margin-bottom: 0rem;
}

.welcome_part_h1, .welcome_part_h1_2 {
    margin-top: 2rem;
    margin-left: 5rem;
    font-family: Raleway;
    font-weight: lighter;
    font-size: 5rem;
    min-width: 18ch;
}

.welcome_part_h1_2 {
    margin: 0.5rem auto 2rem 5rem;
    font-family: Raleway;
    font-weight: lighter;
    font-size: 4.1rem;
    min-width: 18ch;
}

.welcome_part_h1 strong {
    background-image: linear-gradient(147deg, #4bffa5, #54d4ff 90%);
    background-size: 100%;
    background-repeat: repeat;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -webkit-text-stroke: 1.5px black;
}

.welcome_part_p {
    margin-bottom: 5rem;
    margin-left: 4rem;
    font-size: 2.5rem;
}

header a button {
    padding: 1rem;
    width: 15rem;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    margin-left: 45%;
    margin-bottom: 13rem;
    background-image: linear-gradient(147deg, #4bffa5, #54d4ff 90%);
    color: #000000;
    cursor: pointer;
}

header a button:hover {
    zoom: 1.1;
    left: -0.5rem
}

main h1 {
    width: 100%;
    font-size: 5rem;
    margin-left: 10rem;
    margin-top: 10rem;
    min-width: 10ch;
}

.skills {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 400px);
    gap: 3.15rem;
}

.dots {
    color: #161616;
    margin-top: 1rem;
    margin-left: 10rem;
}

.image_h2 {
    display: flex;
    flex-wrap: wrap;
    margin: 4rem 10rem 2rem 1rem;
    font-size: 2rem;
    gap: 0.25rem;
    justify-items: center;
    overflow-x: initial;
}

.image_h2 h2 {
    min-width: 20ch;
}

.image_h2 img {
    width: 100px;
    height: 100px;
}

.text {
    display: flex;
    flex-wrap: wrap;
}

.text ul li {
    margin: 1rem;
    color: #000000;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    align-items: center;
    border-radius: 1rem;
    margin: 0.3125rem 0.3125rem;
    display: inline-block;
    width: 7rem;
    background-image: linear-gradient(147deg, #4bffa5, #54d4ff 90%);
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.certificates_h2 {
    font-size: 4rem;
    margin: 10rem auto 2.5rem 11rem;
}

.certificates_en {
    font-size: 2rem;
    max-width: 55ch;
    margin: auto auto 1rem 12rem;
}

.linkedin, .polish {
    color: #0277B5;
}

.certificates_pl {
    margin-left: 13rem;
}

#projects h1 {
    margin-top: 10rem;
    margin-bottom: 7rem;
}

#projects img {
    margin-top: 5rem;
    margin-left: 7rem;
    width: 600px;
    height: 300px;
}

#about {
    width: 100%;
    background-color: #161616;
    padding-right: 66vw;
    color: #F7F7F7;
}

#about h2 {
    margin-left: 5rem;
    margin-top: 7rem;
}

.p1, .p2, .p3, .p4{
    display: block;
    font-size: 1.25rem;
    min-width: 32ch;
    max-width: 45ch;
    margin: 4rem auto 4rem 8rem;
    line-height: 1.7rem;
}

.p4 {
    margin-bottom: 10rem;
}

#about img {
    width: 426.15px;
    height: 500.5px;
    z-index: 1;
    border-radius: 1rem;
}

#about .box {
    width: 250px;
    height: 250px;
    background: linear-gradient(147deg, #4bffa5, #54d4ff 90%);
    z-index: 0;
    left: -30rem;
}

.unity {
    display: flex;
    float: right;
    left: -20rem;
    bottom: 15rem;
}

#contact {
    display: block;
}

#contact h1 {
    margin-bottom: 4rem;
}

form {
    display: block;
    border: 0.1rem solid #161616;
}

.form-box {
    background-color: #e7e7e7;
    width: 40%;
    margin-bottom: 5rem;
    margin-left: 5rem;
}

.form-content {
    margin-left: 5rem;
}

form h2 {
    padding: 4rem;
    margin-bottom: 4.5rem;
    font-size: 3rem; 
}

.input-one {
    margin: auto 5rem 3rem auto;
}

.input-one, .input-two {
    overflow-x: visible;
}

form label {
    font-family: Raleway;
    font-weight: bold;
    font-size: 2rem;
    margin-bottom: 0.5rem;
    display: block;
}

#email, #message , #email::placeholder, #message::placeholder {
    font-size: 1rem;
}

#message {
    padding-top: 1rem;
}

#email, #message {
    border: none;
    border-radius: 1rem;
    padding-left: 1rem;
    box-shadow: 0.25rem 0.13rem 0rem 0.1rem #1616161a;
}

#email {
    width: 20rem;
    height: 3rem;
}

#message {
    width: 20rem;
    height: 17rem;
    resize: none;
}

.recaptcha {
    margin: 3rem auto 3rem 3rem;
    overflow-y: hidden;
}

.mail, .messenger{
    display: flex;
    align-items: center;
    margin-top: 3rem;
    margin-left: 5rem;
}

.mail .fas, .messenger .fab {
    font-size: 2rem;
    margin-right: 1rem; 
    color: #000000;
}

#send {
    width: 7rem;
    height: 3rem;
    margin: 7rem;
    border: 0.1rem solid #000000;
    font-size: 1.3rem;
    background-image: linear-gradient(147deg, #4bffa5, #54d4ff 90%);
    cursor: pointer;
}

footer {
    bottom: 0;
    background: #161616;
    text-align: center;
}

footer h2{
    color: #e2e2e2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.938rem;
    font-weight: lighter;
}

footer, footer h2 {
    padding-top: 1.875rem;
    padding-bottom: 3.125rem;
}

footer ul li {
    margin: auto 1.5rem;
    display: inline;
}

footer .fab {
    font-size: 1.5rem;
    color: #4bffa5;
    width: fit-content;
    text-align: center;
    grid-template-columns: repeat(auto-fit, 1fr);
    background: -webkit-linear-gradient(147deg, #54d4ff, #4bffa5 90%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* Smartphone (portrait) --- */

@media only screen
and (max-width: 767px) {
    
    nav {
        display: flex;
        text-align: left;
    }
    
    nav a {
        padding: 1rem 0rem 1rem 0.1rem;
        font-size: 0.8rem;
    }
    
    .welcome_part_h2 {
        font-family: monospace;
        font-size: 1.875rem;
        margin-top: 9rem;
        margin-left: 1rem;
    }
    
    .welcome_part_h1 {
        margin-top: 1rem;
        margin-left: 2rem;
        font-size: 2rem;
        min-width: 18ch;
    }

    .welcome_part_h1 strong {
        -webkit-text-stroke: 1.1px #000000;
    }

    .welcome_part_h1_2 {
        margin-bottom: 2rem;
        margin-left: 2rem;
        font-size: 1.7rem;
    }
    
    .welcome_part_p {
        margin-bottom: 4rem;
        margin-left: 2rem;
        font-size: 0.9rem;
    }
    
    header a button {
        margin-left: 17%;
        margin-bottom: 10rem;
        background-image: linear-gradient(147deg, #4bffa5, #54d4ff 90%);
        color: #000000;
        cursor: pointer;
    }

    main h1 {
        margin-left: 1.5rem;
        margin-bottom: 1rem;
        font-size: 3rem;
    }

    .dots {
        margin-left: 1.5rem;
    }    

    .box {
        margin-left: 5rem;
    }

    .image_h2 img {
        width: 70px;
        margin-bottom: -1rem;
    }

    .image_h2 h2 {
        font-size: 2.5rem; 
    }
    
    .text ul li {
        font-size: 0.8rem;
        margin: 0.3125rem 0rem auto 0.01rem;
        width: 5rem;
    }

    .certificates_h2 {
        margin: 7rem 2 auto 3rem;
        font-size: 2rem;
    }
    
    #about h2 {
        margin-left: 2rem;
        margin-top: 2rem;
    }

    #about p {
        font-size: 2rem;
        margin: 1rem auto 5rem 2rem;
    }

    .p1, .p2, .p3, .p4 {
        font-size: 1.25rem;
        min-width: 15ch;
        max-width: 30ch;
    }
    
    .p1, .p2, .p3, .p4 {
        margin-left: 3rem;
    }

    .p4 {
        margin-bottom: 3rem;
    }

    #about img {
        width: 238.083px;
        height: 275.25px;
    }
    
    #about .box {
        width: 225px;
        height: 200px;
    }
    
    .unity {
        left: auto;
        right: -17rem;
        margin-bottom: -10rem;
        margin-top: 15rem;
    }

    .form-box {
        width: 100%;
        margin: auto;
    }
    
    .form-content {
        margin-left: 1rem;
    }
    
    form h2 {
        font-size: 1.65rem;
        margin-bottom: 1rem;
    }
    
    form label {
        font-size: 1.5rem;
    }
    
    #email {
        width: fit-content;
    }
    
    #message {
        width: 17rem;
    }
    
    .mail, .messenger{
        margin-left: 2rem;
    }

    footer ul li{
        margin: 0rem 0.7rem;
        display: inline;
    }
}

@media only screen
and (min-width: 768px)
and (max-width: 1024px) {
    
    nav {
        display: flex;
        justify-content: flex-end;
    }
    
    nav a {
        padding: 1rem 2rem 1rem 1rem;
        font-size: 1.563rem;
    }
    
    .welcome_part_h2 {
        font-family: monospace;
        font-size: 3rem;
        margin-top: 4rem;
        margin-left: 2.5rem;
    }
    
    .welcome_part_h1, .welcome_part_h1_2 {
        margin-top: 2rem;
        margin-left: 5rem;
        margin-bottom: 2rem;
        font-size: 3.3rem;
    }

    .welcome_part_h1_2 { 
        font-size: 2.7rem;   
    }
    
    .welcome_part_p {
        margin-bottom: 4.3rem;
        margin-left: 4rem;
        font-size: 2rem;
    }

    header a button {
        margin-left: 35%;
    }

    main h1 {
        margin-left: 10rem;
        margin-bottom: 3rem;
        font-size: 4rem;    
    }

    .dots {
        margin-left: 10rem;
    }    
    
    #projects h1 {
        width: 15%;
        margin-top: 3rem;
    }

    #about h1 {
        width: 15%;
    }

    #about h2 {
        margin-left: 5rem;
        margin-top: 5rem;
    }

    #about p {
        font-size: 1.25rem;
        margin-left: 8rem;
        margin-bottom: 5rem;
    }

    .p4 {
        margin-bottom: 3rem;
    }

    #about img {
        width: 288.083px;
        height: 325.25px;
    }
    
    #about .box {
        width: 300px;
        height: 175px;
    }
    
    .unity {
        left: auto;
        right: 0rem;
        margin-bottom: -10rem;
        margin-top: 15rem;
    }
    
    #contact h1 {
        width: 17%;
    }

    .form-box {
        width: 100%;
        margin: auto;
    }
    
    .form-content {
        margin-left: 6rem;
    }
    
    form h2 {
        font-size: 3.3rem; 
    }
    
    form label {
        font-size: 1.5rem;
    }
    
    #email {
        width: 20rem;
    }
    
    #message {
        width: 30rem;
    }
    
    .mail, .messenger{
        margin-left: 6rem;
    }

    footer, footer h4 {
        color: #C5C4C6;
        background-color: #161616;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 0.938rem;
        font-weight: lighter;
        text-align: center;
        z-index: -1;
        width: 100%;
        padding-top: 1.875rem;
        padding-bottom: 3.125rem;
    }
}

@media only screen 
and (min-width: 953)
and (max-width: 1230) {
     p {
        margin-left: 1rem;
    }
}

@media only screen
and (min-width: 550px)
and (max-width: 700px) {
    
    nav a {
        color: #000000;
        padding: 0.5rem;
        margin-top: 2rem;
        margin-right: 3.125rem;
        font-size: 1rem;
    }

    .welcome_part_h2 {
        font-size: 2.75rem;
        margin-top: 9rem;
        margin-left: 2.5rem;
        margin-bottom: 0rem;
    }

    .welcome_part_h1, .welcome_part_h1_2{
        margin-top: 2rem;
        margin-left: 5rem;
        font-family: Raleway;
        font-weight: lighter;
        font-size: 2.5rem;
        min-width: 18ch;
    }

    .welcome_part_h1_2 {
        margin: 0.5rem auto 2rem 5rem;
        font-family: Raleway;
        font-weight: lighter;
        font-size: 2.75rem;
        min-width: 18ch;
    }

    .welcome_part_p {
        margin-bottom: 7rem;
        margin-left: 4rem;
        font-size: 1.5rem;
    }
}

@media only screen
and (min-width: 628px) 
and (max-width: 700px) {
    .welcome_part_h1, .welcome_part_h1_2 {
        margin-top: 2rem;
        margin-left: 5rem;
        margin-bottom: 1rem;
        font-size: 2.5rem;
    }

    .welcome_part_h1_2 {
        margin-top: 1rem;
        font-size: 2.5rem;   
    }
}

@media only screen
and (min-width: 1000px) {
    
    nav a {
        transition: all 200ms ease-out 50ms;
    }

    nav a:hover {
        text-decoration: underline #161616;
    }
}

@media only screen
and (min-width: 945px)
and (max-width: 1861px) {

    .unity {
        display: none;
    }
}
